<fieldset>
  <legend>Edit Review</legend>
  <p>
    <label for="review-title">Title</label><br>
    <input id="review-title" type="text" name="reviewTitle" value="{{review.reviewTitle}}"/>
  </p>
  <p>
    <label for="movie-title">Movie Title</label><br>
    <input id="movie-title" type="text" name="movieTitle" value="{{review.movieTitle}}" />
  </p>
  <p>
    <label for="review-description">Description</label><br>
    <textarea id="review-description" name="movieDescription" rows="10" />{{review.movieDescription}}</textarea>
  </p>
  <p>
    <a href="/"><button>Cancel</button></a>
    <button type="submit">Save Review</button>
  </p>
</fieldset>