<!DOCTYPE html>
<html>
    <head>
        <title>Rotten Potatoes | New Review</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form action="/reviews" method="POST">
            <fieldset>
                <legend>New Review</legend>
                <p>
                    <label for="title">Title</label><br>
                    <input type="text" name="title">
                </p>
                <p><button type="submit">Save Review</button></p>
            </fieldset>
        </form>
    </body>
</html>